<html lang="en">
<%- include("./partials/header.ejs") %>
<link rel='stylesheet' href='/stylesheets/style.css' />

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="create-post content">
    <form id="create-post-form" action="/create" method="POST">
      <label for="title">Title: </label>
      <input type="text" id="title" name="title" required>
      <label for="message">Message:</label>
      <textarea type="text" id="message" name="message" required></textarea>
      <button>Create message</button>
    </form>
  </div>
</body>

</html>